# Ignorar carpetas y archivos de compilación de frontend

node_modules/
dist/

# Controles de versión
.git
.gitignore

# Archivos de configuración y documentación local
Dockerfile
README.md

# Logs y archivos temporales
*.log