:host {
  display: block;
  padding: var(--gutter);
}

table {
  width: auto;
  min-width: 100%;
}

.table-container {
  position: relative;
}

.spinner-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
