<app-page-header />

<div class="dashboard-content row">
  <div class="col-sm-6 col-lg-4">
    <app-summary-card
      title="Ventas Hoy"
      [value]="'Bs ' + (ventasHoy?.total | number: '1.2-2')"
      icon="shopping_cart"
      color="primary"
    >
    </app-summary-card>
  </div>
  <div class="col-sm-6 col-lg-4">
    <app-summary-card
      title="Facturación Mes"
      [value]="'Bs ' + (facturacionActual?.total | number: '1.2-2')"
      icon="attach_money"
      color="accent"
    >
    </app-summary-card>
  </div>
  <div class="col-sm-6 col-lg-4">
    <app-summary-card
      title="Clientes Deudores"
      [value]="(resumenCuentas?.cantidadClientesDeudores ?? 0) + ' clientes'"
      icon="people"
      color="warn"
    >
    </app-summary-card>
  </div>
  <div class="col-sm-6 col-lg-4">
    <app-summary-card
      title="Deuda Total"
      [value]="'Bs ' + (resumenCuentas?.totalPendiente | number: '1.2-2')"
      icon="account_balance_wallet"
      color="warn"
    >
    </app-summary-card>
  </div>
  <div class="col-sm-6 col-lg-4">
    <app-summary-card
      title="Stock Bajo"
      [value]="(stockBajo?.cantidad ?? 0) + ' productos'"
      icon="warning"
      color="warn"
    >
    </app-summary-card>
  </div>
  <div class="col-sm-6 col-lg-4">
    <app-summary-card
      title="Usuarios con 2FA"
      [value]="(usuarios2FA?.cantidad ?? 0) + ' usuarios'"
      icon="security"
      color="primary"
    >
    </app-summary-card>
  </div>
</div>

<div class="charts row mt-4">
  <div class="col-12 col-lg-6 mb-4">
    <app-chart-ventas-mensuales></app-chart-ventas-mensuales>
  </div>
  <div class="col-12 col-lg-6 mb-4">
    <app-chart-cuentas-por-cobrar></app-chart-cuentas-por-cobrar>
  </div>
</div>
