<h2 mat-dialog-title>{{ 'usuarios.cambiar_password' | translate }}</h2>

<form [formGroup]="form" (ngSubmit)="submit()" mat-dialog-content>
  <mat-form-field appearance="outline" class="w-100 mb-3">
    <mat-label>Contraseña Actual</mat-label>
    <input matInput type="password" formControlName="currentPassword" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100 mb-3">
    <mat-label>Nueva Contraseña</mat-label>
    <input matInput type="password" formControlName="newPassword" />
  </mat-form-field>
</form>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-flat-button class="btn-submit" [disabled]="form.invalid" (click)="submit()">Actualizar</button>
</mat-dialog-actions>
